body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333333;
  /* Темный текст */
  overflow: hidden;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.home-button {
  border: none;
  position: absolute;
  bottom: 10px;
  /* Расположение внизу */
  left: 10px;
  /* Расположение слева */
  background-color: #e0e0e0;
  color: #333333;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 19px;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #0056b3;
  color: white
}


.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.gelios-image {
  position: absolute;
  top: 20px;
  /* Прикрепляем изображение к верху блока */
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  animation: slideUp 1s ease-out;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

.slider-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

button.arrow {
  background: none;
  border: none;
  color: #e0e0e0;
  /* Темный цвет для стрелок */
  font-size: 100px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

button.arrow:hover {
  transform: scale(1.2);
}